* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Home */

#homeSection {
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnHome {
    background: rgba(255, 255, 255, 0.326);
    color: white;
    width: 11rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}

#btnHome:hover {
    background-color: white;
    color: rgb(60, 14, 115);
}

.imgHome{
    height: 80vh;
    padding: 5rem;
}

/* Login */

#loginSection {
    background-color: rgb(230, 223, 238);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

.imgLogin {
    height: 30vh;
}

.titles {
    font-family: 'Archivo', sans-serif;
    color: rgb(250, 33, 175);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1rem;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input {
    width: 18rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-color: rgb(60, 14, 115);
}

#btnLogin {
    background: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115));
    color: white;
    width: 18rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}
