* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Header */

#header {
    background-color: rgb(197, 175, 221);
    width: 100vw;
    height: 15vh;
    color: rgb(60, 14, 115);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "userName userName pictureUser"
    "profileName profileName pictureUser"
    "specialText specialIcon pictureUser";
}

.userName {
    grid-area: userName;
    font-size: 2rem;
    margin-left: 0.2rem;
}

.profileName {
    grid-area: profileName;
    font-weight: 100;
    margin-left: 2rem;
}

.pictureUser {
    grid-area: pictureUser;
    border-color: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115));
    border-radius: 50%;
    height: 11vh;
    align-self: center;
    justify-self: flex-end;
    margin-right: 2rem;
}

.specialText {
    grid-area: specialText;
    font-weight: 700;
    margin-left: 2rem;
    color: rgb(250, 33, 175);
}

.buttonSignoff {
    height: 2rem;

}

/* Nav Bar */

#navbar {
    background: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 3;
    top: 90vh;
}

.iconNav {
    height: 15vh;
    margin: 1rem;
}

.btnNav {
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    height: 2rem;
    width: 4rem;
}

.btnLikes {
    background-image: url(../assets/likeLineaBlanca.png);
    width: 2rem;
    border: none;
}

/* Feed */

#feedSection {
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
}

/* Posts */

#main {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 223, 238);
    min-height: 90vh;
    height: auto;
    width: 100vw;
}

#postsSection {
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    align-items: center;/*cambio*/
}

#btnPost {
    background: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115));
    color: white;
    width: 6rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}

.inputPost {
    width: 18rem;
    height: 6rem;
    border-radius: 1.5rem;
    border-color: rgb(60, 14, 115);
    padding: 1rem;
    margin: 1rem;
}

#postContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

#myPostsContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.post-card {
    background-color: white;
    width: 18rem;
    height: 8rem;/*6rem;*/
    border-radius: 1.5rem;
    border-color: rgb(60, 14, 115);
    border-style: solid;
    padding: 1rem;
    margin: 1.5rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 3fr; /*2fr 1fr;*/
    grid-template-rows: 6fr 2fr;/*1fr 2fr;*/
}

.user-img{
    border-radius: 5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.user-name {
    color: rgb(250, 33, 175);
    font-size: 1rem;
    font-weight: 400;
    justify-self: flex-start;
    margin-left: -1.6rem;/*cambio*/
}

.date {
    color:  rgb(60, 14, 115);
    font-size: 0.8rem;
    justify-self: flex-end;
}

.post {
    font-size: 1rem;
    margin-top: -1.5rem;/*cambio*/
    text-align: center;/*cambio*/
}

/* Login */

#loginSection {
    background-color: rgb(230, 223, 238);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

.icon {
    height: 20vh;
    margin: 2rem;
}

.titles {
    font-family: 'Archivo', sans-serif;
    color: rgb(250, 33, 175);
    font-weight: 600;
    font-size: 1.3rem;
}

.text {
    font-size: 1rem;
}

.link {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(250, 33, 175);
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    font-size: 0.9rem;
}

.input {
    width: 18rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-color: rgb(60, 14, 115);
    padding: 1rem;
}

#btnLogin {
    background: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115));
    color: white;
    width: 18rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}

.googleButton {
    background-image: url(./assets/google_assets/btn_google_signin_light_normal_web.png);
    width: 191px;
    height: 46px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 223, 238);

    /* border: 2px solid transparent; /* Establece un borde transparente para que se aplique el gradiente */
    /* border-image: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115)); /* Define el gradiente como la imagen de fondo del borde */
    /* border-image-slice: 1; /* Slice de 1 para que el gradiente se aplique al borde completo */
}

.googleButton:hover {
    background-image: url(./assets/google_assets/btn_google_signin_light_pressed_web.png);
    width: 191px;
    height: 46px;
}

/* User Register */

#registerSection {
    background-color: rgb(230, 223, 238);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    font-size: 0.9rem;
}

/* Home */

#homeSection {
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnHome {
    background: rgba(255, 255, 255, 0.326);
    color: white;
    width: 11rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}

#btnHome:hover {
    background-color: white;
    color: rgb(60, 14, 115);
}

.imgHome {
    height: 80vh;
    padding: 5rem;
}