* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Home */

#homeSection {
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnHome {
    background: rgba(255, 255, 255, 0.326);
    color: white;
    width: 11rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}

#btnHome:hover {
    background-color: white;
    color: rgb(60, 14, 115);
}

.imgHome{
    height: 80vh;
    padding: 5rem;
}

/* Login */

#loginSection {
    background-color: rgb(230, 223, 238);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

.icon {
    height: 20vh;
    margin: 2rem;
}

.titles {
    font-family: 'Archivo', sans-serif;
    color: rgb(250, 33, 175);
    font-weight: 600;
    font-size: 1.3rem;
}

.text {
    font-size: 1rem;
}

.link {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(250, 33, 175);
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    font-size: 0.9rem;
}

.input {
    width: 18rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-color: rgb(60, 14, 115);
    padding: 1rem;
}

#btnLogin {
    background: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115));
    color: white;
    width: 18rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: large;
}

.googleButton{
    background-image: url(./assets/google_assets/btn_google_signin_light_normal_web.png);
    width: 191px;
    height: 46px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 223, 238);
   /* border: 2px solid transparent; /* Establece un borde transparente para que se aplique el gradiente */
   /* border-image: linear-gradient(to right, rgb(250, 33, 175), rgb(60, 14, 115)); /* Define el gradiente como la imagen de fondo del borde */
    /*border-image-slice: 1; /* Slice de 1 para que el gradiente se aplique al borde completo */
}


.googleButton:hover{
    background-image: url(./assets/google_assets/btn_google_signin_light_pressed_web.png);
    width: 191px;
    height: 46px;
}
/* Login */

#registerSection {
    background-color: rgb(230, 223, 238);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    font-size: 0.9rem;
}